.horizontal-part {
    border: 1px solid #ccc;
    margin: 5px;
  }
  
  .header3 {
    background-color: white;
    padding: 10px;
  }
  
  .header3-title {
    color: black;
    margin: 0;
  }
  .smaller-size {
    flex: 1;
  }
  